<div class="chat-entity chat-header">
    <div class="chat-entity__prepend">
        <div class="avatar avatar_size_s">
            <img class="avatar__image" src="./images/avatars/kern.jpg">
        </div>
    </div>
    <div class="chat-entity__body">
        <div class="chat-entity__horizontal-layout">
            <div class="chat-entity__header">{{author}}</div>
        </div>
    </div>
</div>
