.wrapper {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-color: #ebebeb;
    background-color: var(--common-background-secondary);
}

.hidden {
    display: none;
}

yp-component {
	display: block;
}